.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.watermark {
  position: absolute;
  left: 34%; top: 57%;
  opacity: .6;
  animation: goatanimation 1s infinite; 
}

._watermark {
  position: absolute;
  left: 59%; top: 57%;
  opacity: .6;
  animation: goatexit 1s infinite;
}

@keyframes goatanimation {
  0% {
    left: 33.5%;
    top: 56.9%;
  }
  25% {
    left: 33.5%;
    top: 56.9%;
  }
  50% {
    left: 33.5%;
    top: 56.9%;
  }
  75% {
    left: 33.5%;
    top: 56.9%;
  }
  0% {
    left: 33.5%;
    top: 56.9%;
  }
  25% {
    left: 33.5%;
    top: 56.9%;
  }
  50% {
    left: 33.5%;
    top: 56.9%;
  }
  75% {
    left: 33.5%;
    top: 56.9%;
  }
}

@keyframes goatexit {
  0% {
    left: 59%;
    top: 57%;
  }
  25% {
    left: 59%;
    top: 57%;
  }
  50% {
    left: 59%;
    top: 57%;
  }
  75% {
    left: 59%;
    top: 57%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
